<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}SignEasy{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
  <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}">
</head>

<body>
  <header>{% include 'partials/header.html' %}</header>

  <div class="w-full px-4 mx-auto max-w-8xl">
    <div class="lg:flex">
      <main class="flex-auto w-full min-w-0 lg:static lg:max-h-full lg:overflow-visible">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>

  <footer>{% include 'partials/footer.html' %}</footer>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>
