<nav class="navbar">
  <div class="navbar-container">
    <a href="{{ url_for('main.home') }}" class="navbar-logo">
      <img src="{{ url_for('static',filename='img/logo.svg') }}" alt="SignEasy Logo">
      <span class="navbar-logo-text">SignEasy</span>
    </a>

    <div class="navbar-menu" id="navbar-cta">
      <ul class="navbar-links">
        <li><a href="{{ url_for('main.home') }}" class="navbar-link {{ 'navbar-link-active' if request.endpoint == 'main.home' }}" {% if request.endpoint == 'main.home' %}aria-current="page"{% endif %}>Home</a></li>
        <li><a href="{{ url_for('sender.welcome') }}" class="navbar-link {{ 'navbar-link-active' if request.endpoint == 'sender.welcome' }}" {% if request.endpoint == 'sender.welcome' %}aria-current="page"{% endif %}>Send Document</a></li>
        <li><a href="{{ url_for('recipient.welcome') }}" class="navbar-link {{ 'navbar-link-active' if request.endpoint == 'recipient.welcome' }}" {% if request.endpoint == 'recipient.welcome' %}aria-current="page"{% endif %}>Receive Document</a></li>
        <li><a href="{{ url_for('main.about') }}" class="navbar-link {{ 'navbar-link-active' if request.endpoint == 'main.about' }}" {% if request.endpoint == 'main.about' %}aria-current="page"{% endif %}>About</a></li>
      </ul>
    </div>
  </div>
</nav>
