{# TODO: Enable Flowbite JS: https://flowbite.com/docs/components/alerts/ #}

{% macro alert(message, category="info") %}
  {%- set allowed_categories = ["info", "error", "success", "warning"] %}
  {%- if category not in allowed_categories %}
    {%- set category = "info" %}
  {%- endif %}

  {%- set styles = {
    "info": {"bg": "bg-blue-50", "text": "text-blue-800", "icon": "text-blue-400", "ring": "ring-blue-400"},
    "error": {"bg": "bg-red-50", "text": "text-red-800", "icon": "text-red-400", "ring": "ring-red-400"},
    "success": {"bg": "bg-green-50", "text": "text-green-800", "icon": "text-green-400", "ring": "ring-green-400"},
    "warning": {"bg": "bg-yellow-50", "text": "text-yellow-800", "icon": "text-yellow-400", "ring": "ring-yellow-400"}
    } %}
  <div class="flex items-center p-4 mb-4 {{ styles[category].bg }} rounded-lg {{ styles[category].bg }} dark:bg-gray-800 {{ styles[category].text }}" role="alert">
    <svg class="flex-shrink-0 w-4 h-4 {{ styles[category].icon }}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">{{ category.capitalize() }}</span>
    <div class="ms-3 text-sm font-medium">
      {{ message|safe }}
    </div>
{#    <button type="button" class="ms-auto -mx-1.5 -my-1.5 {{ styles[category].bg }} {{ styles[category].text }} rounded-lg focus:ring-2 {{ styles[category].ring }} p-1.5 hover:bg-opacity-75 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:hover:bg-gray-700" aria-label="Close">#}
{#      <span class="sr-only">Close</span>#}
{#      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">#}
{#        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>#}
{#      </svg>#}
{#    </button>#}
  </div>
{% endmacro %}
